<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiun.order.mapper.OrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.aiun.order.pojo.OrderItem" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_no" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="current_unit_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, order_no, product_id, product_name, product_image, current_unit_price,
    quantity, total_price, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from trade_order_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trade_order_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiun.order.pojo.OrderItem" >
    insert into trade_order_item (id, user_id, order_no,
      product_id, product_name, product_image,
      current_unit_price, quantity, total_price,
      create_time, update_time)
    values (#{record.id,jdbcType=INTEGER}, #{record.userId,jdbcType=INTEGER}, #{record.orderNo,jdbcType=BIGINT},
      #{record.productId,jdbcType=INTEGER}, #{record.productName,jdbcType=VARCHAR}, #{record.productImage,jdbcType=VARCHAR},
      #{record.currentUnitPrice,jdbcType=DECIMAL}, #{record.quantity,jdbcType=INTEGER}, #{record.totalPrice,jdbcType=DECIMAL},
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.aiun.order.pojo.OrderItem" >
    insert into trade_order_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        id,
      </if>
      <if test="record.userId != null" >
        user_id,
      </if>
      <if test="record.orderNo != null" >
        order_no,
      </if>
      <if test="record.productId != null" >
        product_id,
      </if>
      <if test="record.productName != null" >
        product_name,
      </if>
      <if test="record.productImage != null" >
        product_image,
      </if>
      <if test="record.currentUnitPrice != null" >
        current_unit_price,
      </if>
      <if test="record.quantity != null" >
        quantity,
      </if>
      <if test="record.totalPrice != null" >
        total_price,
      </if>
      <if test="record.createTime != null" >
        create_time,
      </if>
      <if test="record.updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record.id != null" >
        #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderNo != null" >
        #{record.orderNo,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null" >
        #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null" >
        #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productImage != null" >
        #{record.productImage,jdbcType=VARCHAR},
      </if>
      <if test="record.currentUnitPrice != null" >
        #{record.currentUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.quantity != null" >
        #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.totalPrice != null" >
        #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiun.order.pojo.OrderItem" >
    update trade_order_item
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderNo != null" >
        order_no = #{record.orderNo,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null" >
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productImage != null" >
        product_image = #{record.productImage,jdbcType=VARCHAR},
      </if>
      <if test="record.currentUnitPrice != null" >
        current_unit_price = #{record.currentUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.totalPrice != null" >
        total_price = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{record.id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiun.order.pojo.OrderItem" >
    update trade_order_item
    set user_id = #{record.userId,jdbcType=INTEGER},
      order_no = #{record.orderNo,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      product_image = #{record.productImage,jdbcType=VARCHAR},
      current_unit_price = #{record.currentUnitPrice,jdbcType=DECIMAL},
      quantity = #{record.quantity,jdbcType=INTEGER},
      total_price = #{record.totalPrice,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{record.id,jdbcType=INTEGER}
  </update>
  <select id="getByOrderNo" resultMap="BaseResultMap" parameterType="long">
    SELECT
    <include refid="Base_Column_List"/>
    FROM trade_order_item
    WHERE order_no = #{orderNo}
  </select>
  <select id="getByOrderNoAndUserId" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List"/>
    from trade_order_item
    where order_no = #{orderNo}
    and user_id = #{userId}
  </select>
  <insert id="batchInsert" parameterType="list">
    insert into trade_order_item (id, order_no, user_id,
    product_id, product_name, product_image,
    current_unit_price, quantity, total_price,
    create_time, update_time)
    values
    <foreach collection="orderItemList" index="index" item="item" separator=",">
      (
      #{item.id},#{item.orderNo},#{item.userId},#{item.productId},#{item.productName},#{item.productImage},#{item.currentUnitPrice},#{item.quantity},#{item.totalPrice},now(),now()
      )
    </foreach>
  </insert>
</mapper>